{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>График</title>
    <link rel="stylesheet" type="text/css" href="{% static "web/css/index.css" %}"

</head>
<body>
    <script>
        var hourly = {{ hourly|safe }};
        var weekly = {{ weekly|safe }};
    </script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <div id="hourly" class="container"></div>
    <div id="weekly" class="container"></div>
    <script src="{% static "web/js/chart.js" %}"></script>
</body>
</html>